.new-skills-design{
    display: flex;
    justify-content: space-around;
    position: absolute;
    background-color: rgba(0, 128, 128, 0.503);
    top: 80%;
    border-radius: 70px 30px;
}
.new-skills-design h2{
    color: white;
}
.contact{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto;
    padding: 10px;
    position: relative;
    right: 60px;
    top: 170px;
    border-radius: 30%;
    box-shadow: 3px 1px 3px 2px teal;   
}

.contact img{
    width: 40%;
}

.MySkillsContent{
    padding: 5%;
    position: absolute;
}

#skillsloadpic{
    width: 100px;
    position: absolute;
    top: 18%;
    left: 19%;
}

.skills-section{
    padding-top: 20px;
    }
    
    .skills-header{
    text-align: center;
    color: #fff;
    padding: 1rem;
    position: relative;
    }
    
    .skills-header:after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    height: 4px;
    background-color: teal;
    border-radius: 2px;
    }
    
    .skills-container{
    display: grid;
    grid-tempLate-columns: repeat(5, 1fr);
    justify-content:center;
    align-items:center;
    text-align: center;
    grid-gap:1rem;
    padding: 1rem 80px;
    font-size: 1.2rem;
    }
    .skills-box{
    padding: 1rem;
    color: #000;
    cursor:pointer;
    }
    .skills-box:hover > .skills-title:after, 
    .skills-box:hover > .skills-title:before{
    width: 30px;
    }
    .skills-box:hover .skills-img{
    transform: translateX(-20px);
    }
    
    .skills-title{
    display:flex;
    flex-direction: column;
    align-items:center;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    position: relative;
    }
    
    .skills-title:after{
    content: '';
    position:absolute;
    bottom: 0;
    right: 50%;
    width:20px;
    height:4px;
    border-radius: 2px 0 0 2px;
    background-color: #2ecc71;
    transition: .5s;
    }
    
    .skills-title:before{
    content: '';
    position:absolute;
    bottom: 0;
    left: 50%;
    width:100px;
    height:4px;
    border-radius: 0 2px 2px 0;
    background-color: #2ecc71;
    }
    
    .skills-icons{
    width:50px;
    z-index:2;
    }
    
    .skills-img{
    width:90px;
    height:90px;
    position: relative;
    border-radius: 45px;
    background-color: teal;
    display:flex;
    justify-content:center;
    align-items:center;
    transition: .5s;
    }
    
    .skills-img:after{
    content: '';
    position:absolute;
    top:0;
    left: 0;
    width:50%;
    height:90px;
    background: rgba(100, 100, 100, 0.5);
    border-radius: 45px 0 0 45px;
    }
    .skills-title h3{
    color: #333;
    margin-top: 0.5rem;
    }
    @media screen and (max-width:990px){
     .skills-container{
     grid-tempLate-columns: repeat(2, 1fr);
     padding: 2rem 50px;
     }
    }
    
    @media screen and (max-width:650px){
     .skills-container{
        grid-tempLate-columns:2fr;
        padding: 2rem 50px;
     }
     #skillsheading{
        position: relative;
        top: 10px;
        right: 10px;

     }
    }

.animate__fadeInTopLeft{
    animation-duration: 2s;
}

.animate__fadeInTopRight{
    animation-duration: 2s;
}

@media only screen and (max-width: 600px) {

    .contact{
        display: grid;
        grid-template-columns: auto auto auto auto;
        grid-column-gap: 2px;
        width: 400px;
        position: relative;
        right: 225px;
        top: 60px;
        border-radius: 0px;
        box-shadow: none;
    }

    .MySkillsContent{
        position: relative;
        right: -6px;
    }

    #skillsloadpic{
        display: none;
    }
    .new-skills-design{
        display: grid;
        width: 80%;
        border-radius: 0px;
        position: absolute;
        left: 13%;
        background-color:  rgba(0, 128, 128, 0.503);
        top: 70%;
        box-shadow: 3px 1px 2px 1px teal;
       
    }

    .new-skills-design h2{
        color: black;
    }
}



